*.{
    -fx-opacity: 1;
}

.pane{
    -fx-text-fill: white;
    -fx-background-color:  rgba(192,192,192,0);
}

.button{
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-opacity: 0.7;
}